<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html> xmlns:th="http://www.thymeleaf.org"
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <nav>
                <a href="/portal">Pagina Inicial</a>
                <a href="/servicos">Serviços</a>
                <a href="/contato">Contato</a>
                <a href="/perfil">Perfil</a>
            </nav>
        </header>
        <div>
            <h2 th:text="${nome}">Nome do Usuário</h2>
            <h3 th:text="${curso}">Nome do Curso</h3>
            <h3 th:text="${linguagemFavorita}">Linguagem Favorita</h3>
        </div>
    </body>
</html>
