<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Portal</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1 style="text-align: center;">Meu Primeiro Portal Spring Boot</h1>
        </header>
        <main>
            <p>Padrão MVC - Model View Controller</p>
            <p>* Model: Faz o processamento e validação de dados do sistema.</p>
            <p>* View: Fornece a organização visual do sistema, apresentando os dados do Model e captando a interação do usuário.</p>
            <p>* Controller: Recebe os inputs do usuário, se comunicando com o Model para alterar ou resgatar dados e definir qual View deve ser exibida.</p>
        </main>
    </body>
</html>
